alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias more="less"
alias vi="vim"
alias g='grep -r -i'
alias ag='ack-grep --ignore-case -C 2 --color-match="bold red" --ignore-dir=docs'
alias ll='ls -l'

alias e='~/Developer/eclipse/eclipse'
alias s='/opt/sublime_text/sublime_text'

