alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias .....="cd ../../../../.."

alias more="less"
alias vi="vim"
alias g='grep -r -i'
alias ack='ack-grep --ignore-case -C 2 --color-match="bold red" --ignore-dir=docs'
alias ag='ag --ignore-case -C 2 --color-match="1;31" --ignore-dir=docs' 
alias agp='ag --ignore-case -C 2 --color-match="1;31" --ignore-dir=docs --pager=less'
alias l="ls -laHh"
alias ll='ls -lh'
alias cal='cal -3'

alias df='df -h'
alias du='du -h --max-depth 2'


alias s='/opt/sublime_text/sublime_text'

# Git aliases
alias ga='git add'
alias gc='git commit'
alias gs='git status'
alias gb='git branch'
alias gm='git merge'
alias gl='git log -n 4 --stat --graph --decorate=full --date=relative'

# Copied from https://github.com/holman/dotfiles/blob/master/git/aliases.zsh:
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"

# Copied from http://askubuntu.com/questions/2389/generating-list-of-manually-installed-packages-and-querying-individual-packages
alias mypackages="comm -23 <(apt-mark showmanual | sort -u) <(gzip -dc /var/log/installer/initial-status.gz | sed -n 's/^Package: //p' | sort -u)"

