*private*
*cache*
.DS_Store

sublime-text-3/User/Package Control.system-ca-bundle

sublime-text-3/User/Package Control.user-ca-bundle

sublime-text-3/User/Package Control.merged-ca-bundle

sublime-text-3/User/Package Control.last-run

sublime-text-3/User/Package Control.last-run
