[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/mi-lad/oh-my-zsh
[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "powerline_fonts"]
	path = powerline_fonts
	url = https://github.com/mi-lad/powerline_fonts.git
