[Unit]
Description=Refresh Github caches every 15 mins
After=network.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/refresh-github-caches

[Install]
WantedBy=default.target
