@-moz-document url-prefix("about:reader") {

    body.dark {
        color: #fbf1c7 !important;  /* gruvbox_light0 */
        background-color: #282828 !important; /* gruvbox_dark0 */
    }

    body.dark a {
        color: #fabd2f !important; /* gruvbox_bright_yellow */
    }

    body.dark a:visited {
        color: #b57614 !important; /* gruvbox_faded_yellowf */
    }

    a {
        text-decoration: none !important;
        font-style: normal !important;
    }

    a:hover {
        text-decoration: underline !important;
    }

    body.serif {
        font-family: Merriweather !important;
    }

    body.sans-serif {
        font-family: "PT Sans" !important;
    }
}
