:root {
    ---dark0_hard: #1d2021;
    --dark0: #282828;
    --dark0_soft: #32302f;
    --dark1: #3c3836;
    --dark2: #504945;
    --dark3: #665c54;
    --dark4: #7c6f64;
    --dark4_256: #7c6f64;

    --gray_245: #928374;
    --gray_244: #928374;

    --light0_hard: #f9f5d7;
    --light0: #fbf1c7;
    --light0_soft: #f2e5bc;
    --light1: #ebdbb2;
    --light2: #d5c4a1;
    --light3: #bdae93;
    --light4: #a89984;
    --light4_256: #a89984;

    --bright_red: #fb4934;
    --bright_green: #b8bb26;
    --bright_yellow: #fabd2f;
    --bright_blue: #83a598;
    --bright_purple: #d3869b;
    --bright_aqua: #8ec07c;
    --bright_orange: #fe8019;

    --neutral_red: #cc241d;
    --neutral_green: #98971a;
    --neutral_yellow: #d79921;
    --neutral_blue: #458588;
    --neutral_purple: #b16286;
    --neutral_aqua: #689d6a;
    --neutral_orange: #d65d0e;

    /* Popping-n-Locking colors */
    --pnl-bright_black: #928374;
    --pnl-bright_red: #f42c3e;
    --pnl-bright_green: #b8bb26;
    --pnl-bright_yellow: #fabd2f;
    --pnl-bright_blue: #99c6ca;
    --pnl-bright_magenta: #d3869b;
    --pnl-bright_cyan: #7ec16e;
    --pnl-bright_white: #ebdbb2;
    --pnl-black: #1d2021;
    --pnl-red: #cc241d;
    --pnl-green: #98971a;
    --pnl-yellow: #d79921;
    --pnl-blue: #458588;
    --pnl-magenta: #b16286;
    --pnl-cyan: #689d6a;
    --pnl-white: #a89984;
    --pnl-foreground: #ebdbb2;
    --pnl-background: #181921;
    --pnl-background2: #21222d;
    --pnl-foreground2: #f2e5bc;

    --faded_red: #9d0006;
    --faded_green: #79740e;
    --faded_yellow: #b57614;
    --faded_blue: #076678;
    --faded_purple: #8f3f71;
    --faded_aqua: #427b58;
    --faded_orange: #af3a03;

    --main-custom-color: var(--pnl-background);

    --toolbarbutton-icon-fill: #ebdbb2 !important;
    --toolbar-bgcolor: #1d2021 !important;
    --tab-height-with-margin-padding: 2.2rem !important;
}

/* Only for macOS */
#TabsToolbar {
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 8px;
}

tab[selected="true"] > .tab-stack > .tab-background {
    background: var(--dark1) !important;
    border-color: var(--faded_yellow) !important;
    border: solid;
    border-width: 1px;
}

tab:not([selected="true"]) > .tab-stack > .tab-background {
    background-color: var(--main-custom-color) !important;
    border-color: var(--dark1) !important;
    border: solid;
    border-width: 1px;
}

.tab-text {
    font-family: Iosevka, Vazirmatn !important;
    /* font-size: 0.875rem; */
    color: var(--light0);
    /* 14px */
}

#tabbrowser-tabs, #titlebar, #navigator-toolbox {
    background: var(--main-custom-color) !important;
}

/* #titlebar */

/* TODO: gets applied to search icon of a verified domain too */
/* .verifiedDomain {
    color: var(--faded_green) !important;
} */

#urlbar-background {
    background-color: var(--dark0) !important;
    border: solid !important;
    border-width: 1px !important;
    border-color: var(--faded_yellow) !important;
}

#urlbar:not([focused="true"]) #urlbar-background {}

#urlbar[focused="true"] #urlbar-background {
    border-width: 2px !important;
    outline-color: var(--faded_yellow) !important;
}

#urlbar, #searchbar .searchbar-textbox {
    color: var(--light1) !important;

    /* macOS only */
    font-family: Iosevka, Vazirmatn !important;
}

/* @-moz-document url("about:home"), url("about:newtab"), url(about:privatebrowsing) {
    .logo-and-wordmark {
        display: none !important;
    }
} */

#nav-bar {
    background-color: var(--main-custom-color) !important;
}

/* Remove Minimize, Maximize and Close buttons */
.titlebar-buttonbox-container{ display:none }

.urlbarView-row[selected=""] > .urlbarView-row-inner {
  background-color: var(--faded_yellow) !important;
}

/*  #back-button,
 #forward-button */
#home-button { display:none!important; }

.titlebar-spacer[type="pre-tabs"] {
    display: none !important;
}

.titlebar-spacer[type="post-tabs"] {
    display: none !important;
}

#vertical-pinned-tabs-container {
    max-height: inherit;
}



.urlbar-background {
    border: 0.5px solid var(--faded_yellow) !important;
    border-radius: 5px !important;
}






/* Latest experiments: */





#urlbar {
    font-family: "Berkeley Mono SemiCondensed", "Iosevka Milad" !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
}

/* Only apply these styles when vertical tabs are enabled */
@media -moz-pref("sidebar.verticalTabs") {
    
    
    /* For some reason in vertical mode there's a spacer in the toolbar (between <- -> buttons and the address bar) that is not removable. This removes it*/
    #forward-button ~ #vertical-spacer {
        display: None !important;;
    }

    .browser-toolbox-background {
        background-color: var(--main-custom-color) !important;
    }

    /* By unsetting height in #pinned-tabs-container the container auto-heights to fill all 
     * pinned tabs so we don't need the splitter anyway 
    */
    #vertical-pinned-tabs-splitter {
        display: none !important;
    }

    #pinned-tabs-container {
        height: unset !important;
    }
    
    #pinned-tabs-container > tab.tabbrowser-tab {
/*         height: 30px; */
/*         height: auto !important; */
    }
    

    .tab-text {
        font-size: 10px !important;
        font-family: "Berkeley Mono SemiCondensed", "Iosevka Milad" !important;
        font-weight: 600 !important;
    }

    /* Reduce tab height */
    #tabbrowser-tabs {
        --tab-min-height: 28px !important;
    }

    /* Reduce spacing between tabs */
    .tabbrowser-tab {
        padding-top: 0.1px !important;
        padding-bottom: 0.1px !important;
        

        &:not(:hover) .tab-close-button {
            display: none;
        }
    }

    /* Compact the tools/extensions area at bottom */
    .tools-and-extensions {
        padding-block: 1px !important;
        gap: 0px !important;
    }

    .tab-background {
        margin-inline: 0.4rem !important;
        border-radius: 6px !important;
    }

    #tabbrowser-arrowscrollbox .tab-content {
        padding: 0 0.8rem !important;
    }

    #pinned-tabs-container .tab-content {
        padding: 0px !important;

    }

    
    
    /* I want to remove the padding between sidebar and the main content but I have to do it
     * conditionally based on sidebar location. I'm hijacking this "sidebar-position" attributes
     * which exists when sidebar is in the right and not when it's in the left
     */
   
    /* Sidebar on the right */
    box#sidebar-main[sidebar-positionend] tabs#tabbrowser-tabs {
        margin: 0 0px 0px 0px !important;
    }
    
    /* Sidebar on the left */
    box#sidebar-main:not([sidebar-positionend]) tabs#tabbrowser-tabs {
        margin: 0 0px 0px 0px !important;
    }
    
    #tabbrowser-tabbox {
/*         border-radius: 2px !important; */
/*         margin: 0 5px 5px 5px !important; */
        box-shadow: none !important;
    }

    /* Hide New Tab button in sidebar */
    #tabs-newtab-button, #vertical-tabs-newtab-button {
        display: none !important;
        color: red !important;
    }


    #sidebar-tools-and-extensions-splitter {
        margin-block-end: 0 !important;

/*         border-width: 1px 0 !important; */
/*         border-color: red !important; */
    }
    
    .buttons-wrapper {
      min-height: unset !important;
    }



}
