quit q
reload <f5>
reload r
toggle_fullscreen f
goto_toc <tab>
prev_state <C-[>
next_state <C-]>
rotate_clockwise <S-r>
rotate_counterclockwise <C-S-r>
fit_to_page_width a
fit_to_page_width_smart <S-a>
fit_to_page_height s
fit_to_page_height_smart <S-s>
goto_end <end>
goto_begining;goto_top_of_page gg
goto_begining;goto_top_of_page <home>
toggle_custom_color <C-t>
copy y
screen_down <C-d>
screen_up <C-u>
goto_highlight <C-h>
