collapsed_toc 1
fit_to_page_width_ratio 0.5
should_launch_new_window 1
should_warn_about_user_key_override 1
super_fast_search 1
inverse_search_command code -r -g "%1:%2"

background_color #000000

dark_mode_background_color #1d2021

custom_color_contrast 0.3
custom_color_mode_empty_background_color #1d2021
page_separator_color #1d2021
page_separator_width 10
custom_background_color #282828
custom_text_color #fbf1c7
search_highlight_color #7ec16e
status_bar_color #427b58
status_bar_text_color #fbf1c7
freetext_bookmark_color #cc241d

#ui_background_color #ff0000
#ui_text_color 0.984 0.945 0.78
ui_font Iosevka

shared_database_path /home/milad/Sync/documents/sioyek_database.db
startup_commands toggle_custom_color

new_command _remove_annotations python -m sioyek.remove_annotation "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}" %{selected_rect}
new_command _embed_annotations python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
new_command _update_file_timestamp update_file_timestamp %{file_path}
new_command _get_arxiv_info roam-arxiv-authors-to-clipboard %{file_name}
